.search {
  max-width: 600px;
  display: flex;
  margin: 32px auto 32px;
  gap: 8px;
}

.search-input {
  width: 100%;
  border: 1px solid #000;
  padding: 8px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  color: #000;
  font-size: 18px;
}

.submit-input {
  background-color: black;
  color: white;
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.submit-input:hover {
  background-color: #1e1e1e ;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
